#content {
  min-height: 500px;
}
#content li {
  list-style-type: none;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  color: #888;
}
#content .true {
}
#content .false {
  color: #000;
}
#content li:hover,
#content .hover{
  background: rgba(238, 238, 238, 0.36);
}
#content li .index {
  display: inline-block;
  width: 40px;
}
#content li .title {
}
#content li .time {
  float: right;
}
