<div class="container">
  <div id="content">
    <div class="login">
      <form action="" id="login" method="post">
        <div class="login_input_a">
          <input  name="username" class="username" type="text"/>
        </div>
        <div class="login_input_b">
          <input name="password" class="password" type="password"/>
        </div>
        <div class="login_button"></div>
        <div class="lost_password">
          <a href="/feedit">Return to index?</a>
        </div>
      </form>
    </div>
  </div>
</div>
